@page "/"
@using FifaTeamMaker.Data
@inject WeatherForecastService ForecastService

<PageTitle>Fifa Team Builder</PageTitle>

<h1 class=" font-extrabold text-9xl tracking-tight mb-16">
    <span class="text-white text-opacity-80 drop-shadow-lg">Fifa Team Builder</span>
    ⚽️
</h1>

<div class="flex justify-between gap-12">
    <div class="w-6/12">
        <h2 class="text-slate-900 font-extrabold text-3xl tracking-tight pb-6">Available players</h2>
        @if (forecasts == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table
                class="table-auto p-8 border-collapse w-full text-sm bg-slate-200 rounded-2xl rounded-b-none bg-opacity-40 overflow-hidden">
                <thead>
                    <tr class="bg-slate-900">
                        <th class="border-b border-slate-700 font-medium p-4 pl-8 pb-3 text-slate-400 text-left">Date</th>
                        <th class="border-b border-slate-700 font-medium p-4 pl-8 pb-3 text-slate-400 text-left">Temp. (C)
                        </th>
                        <th class="border-b border-slate-700 font-medium p-4 pl-8 pb-3 text-slate-400 text-left">Temp. (F)
                        </th>
                        <th class="border-b border-slate-700 font-medium p-4 pl-8 pb-3 text-slate-400 text-left">Summary
                        </th>
                        <th class="border-b border-slate-700 font-medium p-4 pl-8 pb-3 text-slate-400 text-left"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var forecast in forecasts)
                    {
                        <tr class="hover:bg-slate-100">
                            <td class="border-b border-slate-100 p-4 pl-8 text-slate-900">@forecast.Date.ToShortDateString()
                            </td>
                            <td class="border-b border-slate-100 p-4 pl-8 text-slate-900">@forecast.TemperatureC</td>
                            <td class="border-b border-slate-100 p-4 pl-8 text-slate-900">@forecast.TemperatureF</td>
                            <td class="border-b border-slate-100 p-4 pl-8 text-slate-900">@forecast.Summary</td>
                            <td class="border-b border-slate-100 p-4 pl-8 text-slate-900">
                                <button @onclick="() => AddPlayer(forecast)"
                                    class="px-4 py-2 font-semibold text-sm bg-cyan-500 text-white rounded-full shadow-sm hover:bg-cyan-400 hover:shadow-lg transition hover:scale-110 ">
                                    + Add
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    <div class="w-6/12">
        <h2 class="text-slate-900 font-extrabold text-3xl tracking-tight text-center pb-6">My team</h2>
        @if (!team.Any())
        {
            <p class="p-4 bg-slate-200 w-full rounded-lg bg-opacity-40">No players yet 😭</p>
        }
        else
        {
            <table
                class="table-auto p-8 border-collapse w-full text-sm bg-slate-200 rounded-2xl rounded-b-none bg-opacity-40 overflow-hidden">
                <thead>
                    <tr class="bg-slate-900">
                        <th class="border-b border-slate-700 font-medium p-4 pl-8 pb-3 text-slate-400 text-left">Date</th>
                        <th class="border-b border-slate-700 font-medium p-4 pl-8 pb-3 text-slate-400 text-left">Temp. (C)
                        </th>
                        <th class="border-b border-slate-700 font-medium p-4 pl-8 pb-3 text-slate-400 text-left">Temp. (F)
                        </th>
                        <th class="border-b border-slate-700 font-medium p-4 pl-8 pb-3 text-slate-400 text-left">Summary
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var player in team)
                    {
                        <tr>
                            <td class="border-b border-slate-100 p-4 pl-8 text-slate-500">@player.Date.ToShortDateString()
                            </td>
                            <td class="border-b border-slate-100 p-4 pl-8 text-slate-500">@player.TemperatureC</td>
                            <td class="border-b border-slate-100 p-4 pl-8 text-slate-500">@player.TemperatureF</td>
                            <td class="border-b border-slate-100 p-4 pl-8 text-slate-500">@player.Summary</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@code {
    private WeatherForecast[]? forecasts;
    private List<WeatherForecast> team = new();

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateOnly.FromDateTime(DateTime.Now));
    }

    private void AddPlayer(WeatherForecast player)
    {

        team.Add(player);
    }
}
